@media (max-width:992px) {
  .name {
    font-size: 116px;
  }
  .hero__description {
  width: 60%;
  font-size: 32px;
}
.hero__date {
  width: 30%;
  font-size: 32px;
}
}

@media (max-width:480px) {
  section {
    width: 480px;
    margin: 0 auto;
  }
  .name {
    font-size: 36px;
  }
  .hero__description {
  width: 100%;
  font-size: 32px;
}
.hero__date {
  width: 30%;
  font-size: 32px;
}
}